### C/C++/CMake ###
out/
build/
cpp/docs/html/
cpp/docs/index.html

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
python/nvtx/_lib/**/*.c
python/docs/_build/

### Nsight Systems ###
*.qdrep
*.qdstream
*.nsys-rep

### IDEs ###
.vs/
.vscode/